*{
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#wrapper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/*global*/
@import url("./globalloading.css?__inline")
@import url("./pageloading.css?__inline")

/*page*/
@import url("../page/index/css/index.css?__inline")
@import url("../page/todos/css/todos.css?__inline")
@import url("../page/about/css/about.css?__inline")
