#wrapper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/*global*/
@import url("./globalloading.css?__inline")
@import url("./pageloading.css?__inline")
@import url("./vs-toolbar.css?__inline")

/*page*/
@import url("../page/howtoindex/css/howtoindex.css?__inline")
@import url("../page/howto/css/howto.css?__inline")

