#wrapper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/*global*/
@-webkit-keyframes loading-anim {
    0% {-webkit-transform: rotate(0);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.global-loading{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    -webkit-box-sizing:border-box;
    background-color:#FFF;
    z-index:1000;
}

.global-loading-anim{
    height:50px;
    width:50px;
    -webkit-animation: loading-anim 2s linear infinite;
    background:url("/static/hellorocket/img/rotating.png") 0 0 no-repeat;
    background-size: 50px 50px;
}

.global-loading-text{
    margin-top:160px;
    color: #888;
    font: bold 16px/30px normal;
}

.global-loading-logo{
    margin-top:120px;
    height:66px;
    width:66px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    -webkit-box-sizing:border-box;
    background: url("/static/hellorocket/img/loading-logo-news.png") 0 0 no-repeat;
    background-size: 65px 65px;
}


@-webkit-keyframes loading-anim {
    0% {-webkit-transform: rotate(0);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.page-loading{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:-webkit-box;
    -webkit-box-pack:start;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    -webkit-box-sizing:border-box;
    background-color:#FFF;
    z-index:1000;
}

.page-loading-anim{
    height:50px;
    width:50px;
    -webkit-animation: loading-anim 2s linear infinite;
    background:url("/static/hellorocket/img/rotating.png") 0 0 no-repeat;
    background-size: 50px 50px;
}

.page-loading-text{
    color: #888;
    font: bold 16px/30px normal;
}

.page-loading-logo{
    margin-top:120px;
    height:66px;
    width:66px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    -webkit-box-sizing:border-box;
    background: url("/static/hellorocket/img/loading-logo-news.png") 0 0 no-repeat;
    background-size: 65px 65px;
}



/*page*/
/*页面视图id，与action同名，以_page为后缀*/
#index_page{
    /*默认不展示*/
    display:none;

    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    /*最低高度，确保即使没内容，loading也可以展示，同时能遮住下方内容*/
    min-height:600px;

    /*阻止文本选中*/
    -webkit-user-select:none;
    -moz-user-select:none;
}

#index_page_header{
    border-left:10px solid #F0A22A;
    border-bottom:1px solid #F0A22A;
    padding:5px;
    font:bold 26px/40px normal;
    text-shadow:rgba(64, 64, 64, 0.3) 3px -3px 2px;
}

#index_page_content{
    /*作为绝对定位的loading样式的容器，需要使用relative定位*/
    position:relative;
    padding-top:10px;
}

#index_page_content a{
    display:block;
    position:relative;
    margin:3px 3px 0;
    padding-left:5px;
    background:#eee;
    border:1px outset #ddd;
    border-radius:4px;
    font:normal 16px/40px Arial;
    color:#000;
    text-decoration:none;
}

#index_page_content a span{
    display:inline-block;
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-9px;
    background-image:url("/static/hellorocket/img/icons-36-black.png");
    background-position:-108px 50%;
    background-size:776px 18px;
    width:18px;
    height:18px;
}

#index_page_content *{
    -webkit-transform:translateZ(0);
}


/*页面视图id，与action同名，以_page为后缀*/
#sayhello_page{
    /*默认不展示*/
    display:none;

    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    /*最低高度，确保即使没内容，loading也可以展示，同时能遮住下方内容*/
    min-height:600px;

    /*阻止文本选中*/
    -webkit-user-select:none;
    -moz-user-select:none;
}

#sayhello_page_header{
    height:40px;
    text-align:center;
    background:#eee;
    font:bold 18px/40px normal;
    border:1px outset #ddd;
}

.sayhello-page-header-backbtn{
    position:relative;
    float:left;
    display:inline-block;
    padding-left:20px;
}

.sayhello-page-header-backbtn span{
    position:absolute;
    display:inline-block;
    left:0;
    top:50%;
    margin-top:-9px;
    background-image:url("/static/hellorocket/img/icons-36-black.png");
    background-position:-142px 50%;
    background-size:776px 18px;
    width:18px;
    height:18px;
}

#sayhello_page_content{
    /*作为绝对定位的loading样式的容器，需要使用relative定位*/
    position:relative;
    padding-top:10px;
}

#sayhello_page_content a{
    display:block;
    margin:3px 3px 0;
    padding-left:5px;
    background:#eee;
    border:1px outset #ddd;
    border-radius:4px;
    font:normal 16px/40px Arial;
    color:#000;
    text-decoration:none;
}

#sayhello_page_content *{
    -webkit-transform:translateZ(0);
}

#sayhello_page_content h2{
    text-align:center;
    font:bold 26px/50px Arial;
    text-shadow:rgba(64, 64, 64, 0.3) 3px -3px 2px;
}


