/*页面视图id，与action同名，以_page为后缀*/
#search_page{
    /*默认不展示*/
    display:none;

    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    /*阻止文本选中*/
    -webkit-user-select:none;
    -moz-user-select:none;

    overflow:auto; 
}

#search_page_header{
    /*绝对定位*/
    position:absolute;

    top:0;
    left:0;
    right:0;
    height:40px;
}

.search-page-lines{
    /*绝对定位*/
    position:absolute;

    top:40px;
    left:0;
    right:0;
    bottom:0;

    overflow:scroll;
}

.search-page-lines *{
    -webkit-transform:translateZ(0);
}

.search-page-lines div.current-line{
    background:#87AB4B;
}

.search-page-lines div.line {
    clear:both; 
    min-height:24px; 
    _height:24px;
    margin-bottom:20px;
}

.search-page-lines div.inner-line-number{
    float:left; 
    color:#ff0; 
    font-style:italic; 
    cursor:pointer;
}

.search-page-lines div.inner-line p{
    margin-left:48px; 
    padding-left:20px; 
    border-left:3px solid #4285F4;
}

.search-page-lines div.inner-line p{
    min-height:24px; 
    _height:24px;
}

