/*页面视图id，与action同名，以_page为后缀*/
#index_page{
    /*默认不展示*/
    display:none;

    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    /*阻止文本选中*/
    -webkit-user-select:none;
    -moz-user-select:none;

    overflow:auto; 
    background-color:#000; 
    color:#fff;
}

#index_page_lines{
    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    overflow:scroll;
}

#index_page_lines *{
    -webkit-transform:translateZ(0);
}

div.current-line{
    background:#87AB4B;
}

div.line {
    clear:both; 
    min-height:24px; 
    _height:24px;
}

div.line-number{
    float:left; 
    color:#ff0; 
    font-style:italic; 
    cursor:pointer;
}

div.line p{
    margin-left:48px; 
    padding-left:20px; 
    border-left:3px solid #4285F4;
}

div.line p{
    min-height:24px; 
    _height:24px;
}

